@page
@using System.Collections.Immutable
@using BlogOne.Core
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@* Header Image *@
<header>
    @*<div class="overlay"></div>*@
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
</header>

<body>
@if (Model.Message != null)
{
    <div class="alert alert-info text-center ">@Model.Message</div>
}
<div class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col-sm-4">
            <h2>About Me</h2>
            <p>Erisus non lacus. Aliquam est massa, fringilla quis cursus ut, dapibus nec enim. Fusce varius fringilla arcu, eu interdum velit malesuada vitae. Donec id augue ipsum. Quisque volutpat urna lacus, tristique sodales urna scelerisque suscipit. Nullam placerat tempor erat, vitae dapibus orci fermentum eu. Nullam tempor finibus lectus id ornare.</p>
        </div>
        <!-- Generate blog posts from the model data -->
        <div class="col-sm-8">
            @foreach (var blogDetails in Model.BlogDetails)
            {
                <h1>@blogDetails.Title <small>@blogDetails.Date</small></h1>
                <p>@blogDetails.TextBody</p>
                <!-- Edit/Delete icons for each post -->
                <a class="btn btn-sm"
                   asp-page="./Edit" asp-route-blogDetailsId="@blogDetails.Id">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-sm"
                   asp-page="./Delete" asp-route-blogDetailsId="@blogDetails.Id">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>

                <hr />
            }
            <a asp-page=".\Edit" class="btn btn-danger">Add New</a>
        </div>
    </div>
    @*
         Search bar for future use TODO move into nav bar
        <form method="get">
            <div class="form-group">
                <div class="input-group">
                    <input type="search" class="form-control"
                           asp-for="SearchTerm" />
                    <span class="input-group-btn">
                        <button class="btn btn-default">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </form>
    *@
</div>
</body>

